[alias]
    st = status
    cm = commit
    br = branch
[color]
    diff = auto
    status = auto
    branch = auto
[credential]
    helper = osxkeychain
[push]
    default = simple
[user]
    name = Brady Law
    email = bradyl16@gmail.com
