[alias]
    st = status
    cm = commit
    br = branch
[credential]
    helper = osxkeychain
[user]
    name = Brady Law
    email = bradyl16@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
